* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
	text-align: center;
	/* overflow: hidden; */
  }  
.menu {
	list-style-type: none;
    margin: 0;
	padding: 0;
	position: absolute;
}
.menu > li:nth-child(2n + 1)
{
	--c: #b4a9a9;
	border: 0.3em solid var(--c);
	border-radius: 0.3em;
	width: 3em;
	height: 3em;
	line-height: 3em;
	position: relative;
	overflow: hidden;
	z-index: 1;
	transition: 0.1s;
	margin: 0.5em;
}
.menu > li:nth-child(2n) {
	display: none;
	width: 240px;
	height: 115px;
}

.menu > li > span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -10;
}
.menu > li:hover {
	transform: scale(1.1);
	cursor: pointer;
}
.menu > li:hover span {
    transform: translateY(0) scale(2);
}
.menu > li span:nth-child(1) {
    --n: 1;
}

.menu > li span:nth-child(2) {
    --n: 2;
}

.menu > li span:nth-child(3) {
    --n: 3;
}

.menu > li span:nth-child(4) {
    --n: 4;
}
.gifBlock {
	width: 100%;
	height: 100%;
}
#cursor:hover + li {
	transition: 0.5s;	
	display: block;
	position: absolute;
	left: 60px;
	top: 0.5em;	
}
#rect:hover + li {
	display: block;
	transition: 0.5s;
	position: absolute;
	left: 60px;
	top: 4em
}
#circ:hover + li {
	display: block;
	transition: 0.5s;
	position: absolute;
	left: 60px;
	top: 7.5em;
}
#line:hover + li {
	display: block;
	transition: 0.5s;
	position: absolute;
	left: 60px;
	top: 11em;
}
#dashed:hover + li {
	display: block;
	transition: 0.5s;
	position: absolute;
	left: 60px;
	top: 14.5em;
}
#polygon:hover + li {
	display: block;
	transition: 0.5s;
	position: absolute;
	left: 60px;
	top: 18em;
}
#hexagon:hover + li {
	display: block;
	transition: 0.5s;
	position: absolute;
	left: 60px;
	top: 21.5em;
}
.drop_down {
	visibility: hidden; /* hides sub-menu */
  	opacity: 0;
  	position: absolute;
	top: -0.7em;
	left: 2.5em;
  	width: 100%;
  	transform: translateY(-2em);
  	z-index: -1;
  	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}
#items:hover {
	overflow: visible;
}
#items:focus .drop_down,
#items:focus-within .drop_down,
#items:hover .drop_down {
  visibility: visible; 
  opacity: 1;
  z-index: 10000;
  transform: translateY(0%);
  transition-delay: 0s, 0s, 0.3s; 
}
.drop_down ol{
	--c: #b4a9a9;
	border: 0.3em solid var(--c);
	border-radius: 0.3em;
	width: 3em;
	height: 3em;
	line-height: 3em;
	position: relative;
	overflow: hidden;
	z-index: 1;
	transition: 0.5s;
	margin: 0.5em;
}
.drop_down ol:hover {
	border-radius: 0.8em;
}





